doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='style.css')
    link(rel='shortcut icon', type='image/x-icon', href='asset/image/favicon.ico')
    title Christmas Countdown
  body
    section.landing
      .landing-inner
        h1 Right now, there are 
        .countdown
        h2
          | until 
          span CHRISTMAS 2018!
      #snow
      .footer
        | Find more projects on 
        a(href='https://github.com/totalca/')
          span Github
        | .
      script(src='asset/js/main.js')